{%- if section.blocks.size > 0 -%}
  {%- for my_block in section.blocks -%}
	{%- case my_block.type -%}
      {%- when 'text' -%}
		<aside class="widget widget_text" {{ my_block.shopify_attributes }}>
          {%- if my_block.settings.heading != blank -%}
          <h3 class="widget-title">{{ my_block.settings.heading }}</h3>
          {%- endif -%}
          {%- if my_block.settings.text != blank -%}
          <div class="textwidget">{{ my_block.settings.text }}</div>
          {%- endif -%}
        </aside>
      {%- when 'image' -%}
		<aside class="widget widget_text" {{ my_block.shopify_attributes }}>
          {%- if my_block.settings.heading != blank -%}
          <h3 class="widget-title">{{ my_block.settings.heading }}</h3>
          {%- endif -%}
          {%- if my_block.settings.image != blank -%}
          <div class="textwidget">
            {%- if my_block.settings.link != blank -%}
              <a href="{{ my_block.settings.link }}">
                {{ my_block.settings.image | img_url: 'master' | img_tag: image_alt }}
              </a>
            {%- else -%}
              {{ my_block.settings.image | img_url: 'master' | img_tag: image_alt }}
            {%- endif -%}
          </div>
          {%- endif -%}
        </aside>
      {%- when 'video' -%}
        <aside class="widget widget_text" {{ my_block.shopify_attributes }}>
          {%- if my_block.settings.heading != blank -%}
          <h3 class="widget-title">{{ my_block.settings.heading }}</h3>
          {%- endif -%}
          {% if my_block.settings.video_url == blank %}
            <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
          {% else %}
            {% if my_block.settings.video_url.type == "youtube" %}
              <iframe src="//www.youtube.com/embed/{{ my_block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            {% if my_block.settings.video_url.type == "vimeo" %}
              <iframe src="//player.vimeo.com/video/{{ my_block.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
            {% endif %}
          {% endif %}
        </aside>
      {%- when 'html' -%}
		<aside class="widget widget_text" {{ my_block.shopify_attributes }}>
          {%- if my_block.settings.heading != blank -%}
          <h3 class="widget-title">{{ my_block.settings.heading }}</h3>
          {%- endif -%}
          {%- if my_block.settings.code != blank -%}
          <div class="textwidget">{{ my_block.settings.code }}</div>
          {%- endif -%}
        </aside>
      {%- when 'tags' -%}
        <aside class="widget widget_tag_cloud" {{ my_block.shopify_attributes }}>
          {%- if my_block.settings.heading != blank -%}
          <h3 class="widget-title">{{ my_block.settings.heading }}</h3>
          {%- endif -%}
          <ul class="tagcloud">
            {%- for tag in blog.all_tags -%}
              {%- if current_tags contains tag -%}
              <li class="active">{{ tag | link_to_remove_tag: tag }}</li>
              {%- else -%}
              <li>{{ tag | link_to_add_tag: tag }}</li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </aside>
      {%- when 'posts' -%}
        <aside class="widget widget_recent_entries" {{ my_block.shopify_attributes }}>
          {%- if my_block.settings.heading != blank -%}
          <h3 class="widget-title">{{ my_block.settings.heading }}</h3>
          {%- endif -%}
          {%- assign my_blog = blogs[my_block.settings.blog] -%}
          <ul class="product_list_widget">
            {%- for my_article in my_blog.articles limit: my_block.settings.limit -%}
            <li>
              <a href="{{ my_article.url }}">{{ my_article.title }}</a>
              {%- if section.settings.blog_date != '' -%}
              <span class="post-date">{{ my_article.published_at | time_tag: format: 'month_day_year' }}</span>
              {%- endif -%}
            </li>
            {%- endfor -%}
          </ul>
        </aside>
    {%- endcase -%}
  {%- endfor -%}
{%- else -%}
  {%- include 'no-blocks' -%}
{%- endif -%}