<div class="page-header spacing animated fadeIn">
  <div class="row">
    <div class="title-section">
      {%- include 'breadcrumb' -%}
      <h1 class="page-title">{{ page_title }}</h1>
      {%- if template.name == 'article' -%}
      <div class="post_header_meta">
        {%- if section.settings.blog_date != '' -%}
        <span class="post_date">
          {%- assign article_published_at = article.published_at | time_tag: format: 'month_day_year' -%}
          {{- 'blogs.article.on_date_html' | t: date: article_published_at -}}
        </span>
        {%- endif -%}
        <span class="post_categories">
          {%- capture article_category = -%}<a href="{{ blog.url }}" rel="category tag">{{ blog.title }}</a>{%- endcapture -%}
          {{- 'blogs.article.in_category_html' | t: category: article_category -}}&nbsp;
        </span>
        {%- if section.settings.blog_sharing != '' -%}
        <div class="box-share-master-container" data-name="{{ 'blogs.article.share' | t | escape }}" data-share-elem="twitter,facebook,google,pinterest,linkedin">
          <a href="javascript:;" class="social-sharing" data-name="{{ article.title | escape }}">
            <i class="icon-px-solid-share"></i>
            <span>{{ 'blogs.article.share' | t | escape }}</span>
          </a>
        </div>
        {%- endif -%}
      </div>
      {%- endif -%}
    </div>
  </div>
</div>