{%- assign meta_position = 2 -%}
<div id="breadcrumbs">
  <span property="itemListElement" typeof="ListItem">
    <a property="item" typeof="WebPage" title="{{ 'general.breadcrumb.home' | t | escape }}" href="{{ shop.url }}">
      <span property="name">{{ 'general.breadcrumb.home' | t | escape }}</span>
    </a>
    <meta property="position" content="1" />
  </span>
  &gt;
  {%- if template.name == 'search' or template.name == 'product' or collection and collection.handle != 'all' -%}
  {%- assign meta_position = 3 -%}
  <span property="itemListElement" typeof="ListItem">
    <a property="item" typeof="WebPage" title="{{ 'general.breadcrumb.all_products' | t | escape }}" href="/collections/all">
      <span property="name">{{ 'general.breadcrumb.all_products' | t | escape }}</span>
    </a>
    <meta property="position" content="2" />
  </span>
  &gt;
  {%- endif -%}
  {%- if template.name == 'article' -%}
  {%- assign meta_position = 3 -%}
  <span property="itemListElement" typeof="ListItem">
    <a property="item" typeof="WebPage" title="{{ blog.title }}" href="{{ blog.url }}">
      <span property="name">{{ blog.title }}</span>
    </a>
    <meta property="position" content="2" />
  </span>
  &gt;
  {%- endif -%}
  <span property="itemListElement" typeof="ListItem">
    <span property="name">{%- if collection and collection.handle == 'all' -%}{{ 'general.breadcrumb.all_products' | t | escape }}{% else %}{{ page_title }}{% endif %}</span>
    <meta property="position" content="{{ meta_position }}" />
  </span>
</div>