<div id="cart_block" class="widget_shopping_cart ">
  <div class="widget_shopping_cart_content">
    {%- if cart.items == empty -%}
    <ul class="cart_list product_list_widget">
      <li class="empty">
        <div class="empty-cart-offcanvas-box"><span></span></div>
        <h3>{{ 'header.cart.no_products' | t | escape }}</h3>
        <p class="return-to-shop">
          <a class="button btn1 bshadow wc-backward" href="{{ shop.url }}">
            <span><i class="fa fa-reply" aria-hidden="true"></i>{{ 'header.cart.return_to_shop' | t | escape }}</span>
          </a>
        </p>
      </li>
    </ul>
    {%- else -%}
    <ul class="cart_list product_list_widget">
      {%- for item in cart.items -%}
      <li class="mini_cart_item ">
        <a href="#" class="remove-product remove" data-id="{{ item.variant_id }}" title="{{ 'header.cart.remove_this_item' | t | escape }}"><i class="fa fa-times" aria-hidden="true"></i></a>
        <a href="{{ item.url | within: collections.all }}">
          <img width="150" height="191" src="{{ item | img_url: '150x191' }}" alt="{{ item.title | escape }}" srcset="{{ item | img_url: '150x191' | scale: 2 }} 2x" />
          {{ item.product.title }}
        </a>
        {%- if item.product.variants.size > 1 -%}
        <div class="variation">
          {{ item.variant.title }}
        </div>
        {%- endif -%}
        <span class="quantity"><input class="update-product update" data-id="{{ item.variant_id }}" type="text" value="{{ item.quantity }}" /> × <span class="amount"><span class="money">{{ item.price | money }}</span></span></span>
      </li>
      {%- endfor -%}
    </ul>
    <p class="total">
      <strong>{{ 'header.cart.subtotal' | t | escape }}</strong> <span class="amount"><span class="money">{{ cart.total_price | money }}</span></span>
    </p>
    <p class="buttons">
      <a href="/cart" class="button btn1 wc-forward cart-but"><span>{{ 'header.cart.view_cart' | t | escape }}</span></a>
      <a href="/checkout" class="button btn1 checkout wc-forward bshadow"><span>{{ 'header.cart.checkout' | t | escape }}</span></a>
    </p>
    {%- endif -%}
  </div>
</div>