{%- unless collection_image_size -%}
  {%- assign collection_image_size = '450x600' -%}
{%- endunless -%}

{%- if my_collection.products.first and my_collection.products.first.images != empty -%}
  {%- capture collection_image_url -%}{{ my_collection.products.first | img_url: collection_image_size, crop: 'top' }}{%- endcapture -%}
{%- else -%}
  {%- assign collection_image_url = blank -%}
{%- endif -%}
{%- if section.settings.hover == 'perspective_hover' -%}
<div class="category_grid_item column">
  <a href="{{ my_collection.url }}" class="tilter tilter--1">
    <div class="tilter__figure">
      {%- if collection_image_url != blank -%}
      <img class="tilter__image" src="{{ collection_image_url }}" alt="{{ my_collection.title | escape }}" />
      {%- else -%}
      <div class="tilter__image_blank"></div>
      {%- endif -%}
      <div class="tilter__deco tilter__deco--shine"><div></div></div>
      <div class="tilter__deco tilter__deco--overlay"></div>
      <div class="tilter__caption">
        <p class="tilter__description">{{ 'collections.general.items_with_count' | t: count: my_collection.products_count }}</p>
        <h3 class="tilter__title">{{ my_collection.title | escape }}</h3>
      </div>
      <div class="tilter__deco--lines"><span></span></div>
    </div>
  </a>
</div>
{%- else -%}
<div class="category_grid_item column">
  <div class="category_grid_box">
    <a class="category_item" href="{{ my_collection.url }}">
      <div class="category_overlay"></div>
      <span class="category_name">
        <span>{{ 'collections.general.items_with_count' | t: count: my_collection.products_count }}</span>
        <h3>{{ my_collection.title | escape }}</h3>
      </span>                                            
      {%- if collection_image_url != blank -%}
      <img class="category_item_bkg" src="{{ collection_image_url }}" alt="{{ my_collection.title | escape }}" />
      {%- else -%}
      <div class="category_item_bkg_blank"></div>
      {%- endif -%}
    </a>
  </div>                                           
</div>
{%- endif -%}