<div class="menu-offcanvas">
  <div class="offcanvas_close offcanvas_target"></div>
  
  {%- comment -%} CURRENCY {%- endcomment -%}
  {%- if section.settings.header_currency != '' -%}
  <nav class="language_currency offcanvas_target">
    {%- assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' -%}
    {%- assign supported_codes = section.settings.supported_currencies | split: ' ' -%}
    <ul class="currency_switcher curr_list_vertical">
      <li data-code="{{ shop.currency }}" class="currency active">{{ shop.currency }}</li>
      {%- for code in supported_codes -%}
        {%- if code != shop.currency and codes contains code -%}
        <li data-code="{{ code }}" class="currency">{{ code }}</li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
    <input type="hidden" class="currency_format" value="{{ section.settings.currency_format | default: 'money_with_currency_format' | escape }}" />
    <input type="hidden" class="shop_currency" value="{{ shop.currency | escape }}" />
    <input type="hidden" class="default_currency" value="{{ section.settings.default_currency | default: shop.currency | escape }}" />
    <input type="hidden" class="money_with_currency_format" value="{{ shop.money_with_currency_format | strip_html | escape }}" />
    <input type="hidden" class="money_format" value="{{ shop.money_format | strip_html | escape }}" />
  </nav>
  {%- endif -%}

  {%- comment -%} SEARCH MOBILE {%- endcomment -%}
  {%- if section.settings.header_search != '' and section.settings.header_search_mobile != '' -%}
  <div class="mob_inputbox offcanvas_target">
    <div class="search-mobile">
      <form role="search" method="get" class="search-form" action="/search">
        <div class="minimal-form-input no-text">
          <label class="screen-reader-text" for="product-search-field-mobile">
            <span class="text"><span class="text-inner">{{ 'searchs.search.search_for' | t | escape }}</span></span>
          </label>
          <input type="search" id="product-search-field-mobile" class="search-field" value="{{ search.terms | escape }}" name="q" />
        </div>
        <input type="submit" value="{{ 'searchs.search.submit' | t | escape }}" />
        <input type="hidden" name="type" value="product" />
      </form>
    </div>
  </div>
  {%- endif -%}

  {%- comment -%} MAIN MENU {%- endcomment -%}
  <div class="offcanvas_navigation mm-wrapper">
    <nav id="menu" class="offcanvas_target">
      <ul class="offcanvas_menu">
        {%- if section.settings.header_menu != '' -%}
          {%- for link in linklists[section.settings.header_menu].links -%}
            {%- include 'navigation-link' -%}
          {%- endfor -%}
          <li class="hr-menu-item"><hr /></li>
        {%- endif -%}
        {%- if settings.product_wishlist != '' -%}
        <li class="bot-menu-item wishlist-button">
          <a class="tools_button" href="{{ pages[settings.product_wishlist].url }}">
            <span>
              <small>{{ 'header.my_account.wishlist' | t }}</small>
            </span>
          </a>
        </li>
        {%- endif -%}
        {%- if shop.customer_accounts_enabled -%}
          {%- if customer -%}
          <li class="bot-menu-item account-button">
            <a href="/account">
              <span>
                <small>{{ 'header.my_account.my_account' | t }}</small>
              </span>
            </a>
          </li>
          <li class="bot-menu-item logout-button">
            <a href="/account/logout">
              <span>
                <small>{{ 'header.my_account.logout' | t }}</small>
              </span>
            </a>
          </li>
          {%- else -%}
          <li class="bot-menu-item login-button">
            <a href="/account">
              <span>
                <small>{{ 'header.my_account.login_registry' | t }}</small>
              </span>
            </a>
          </li>
          {%- endif -%}
        {%- endif -%}
        {%- if section.settings.header_social != '' -%}
        <li class="hr-menu-item"><hr /></li>
        {%- include 'shortcode' load: section.settings.header_social_content -%}
        {%- endif -%}
      </ul>
    </nav>
  </div>
</div>