<div class="product_thumbnails">
  <div id="product_thumbnails_swiper_container-{{ section.id }}" data-direction="{{ direction }}" class="product_thumbnails_swiper_container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ featured_image | img_url: '150x' }}" alt="{{ featured_image_alt | escape }}" srcset="{{ featured_image | img_url: '150x' }} 150w, {{ featured_image | img_url: '235x' }} 235w, {{ featured_image | img_url: '768x' }} 768w" sizes="(max-width: 150px) 100vw, 150px" />
      </div>
      {%- for image in product.images -%}
      {%- unless image == featured_image -%}
      <div class="swiper-slide">
        <img src="{{ image.src | img_url: '150x' }}" alt="{{ image.alt | escape }}" srcset="{{ image.src | img_url: '150x' }} 150w, {{ image.src | img_url: '235x' }} 235w, {{ image.src | img_url: '768x' }} 768w" sizes="(max-width: 150px) 100vw, 150px" />
      </div>
      {%- endunless -%}
      {%- endfor -%}
    </div>
    <div class="pagination"></div>
  </div>
</div>