<div class="top_bar_shop_single">
  <a href="#" class="return-link"><span>{{ 'products.general.back' | t | escape }}</span></a>
  {%- if collection.previous_product != blank or collection.next_product != blank -%}
  <div class="products-nav">
    {%- if collection.previous_product != blank -%}
    {%- assign product_handle = collection.previous_product | split: '/' | last -%}
    {%- assign previous_product = all_products[product_handle] -%}
    <div class="product-btn product-prev">
      <a href="{{ previous_product.url | within: collection }}">{{ 'products.general.previous_product' | t | escape }}<i class="icon-px-solid-prev"></i></a>
      <div class="thb-wrapper">
        <div class="product-short">
          <a href="{{ previous_product.url | within: collection }}" class="product-thumb">
            <img src="{{ previous_product.featured_image | img_url: '150x' }}" alt="{{ previous_product.title | escape }}" />
          </a>
          <h3>
            <a href="{{ previous_product.url | within: collection }}" class="product-title">
              {{- previous_product.title | escape -}}
            </a>
          </h3>
          <span class="price">
            <span class="amount"><span class="money">{{ previous_product.price | money }}</span></span>
          </span>
        </div>
      </div>
    </div>
    {%- endif -%}
    {%- if collection.next_product != blank -%}
    {%- assign product_handle = collection.next_product | split: '/' | last -%}
    {%- assign next_product = all_products[product_handle] -%}
    <div class="product-btn product-next">
      <a href="{{ next_product.url | within: collection }}">{{ 'products.general.next_product' | t | escape }}<i class="icon-px-solid-next"></i></a>
      <div class="thb-wrapper">
        <div class="product-short">
          <a href="{{ next_product.url | within: collection }}" class="product-thumb">
            <img src="{{ next_product.featured_image | img_url: '150x' }}" alt="{{ next_product.title | escape }}" />
          </a>
          <h3>
            <a href="{{ next_product.url | within: collection }}" class="product-title">
              {{- next_product.title | escape -}}
            </a>
          </h3>
          <span class="price">
            <span class="amount"><span class="money">{{ next_product.price | money }}</span></span>
          </span>
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>
  {%- endif -%}
  <div class="clearfix"></div>
</div>