<div class="cart-collaterals shipping-calculator">
  <div class="shipping">
    <h2>Shipping Calculator</h2>
    <div class="minimal-form-input">
      <label for="address_country">Country</label>
      <span class="variation-select">
        <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% endif %}">{{ country_option_tags }}</select>
      </span>
    </div>
    <div class="minimal-form-input" id="address_province_container" style="display:none">
      <label for="address_province">Province</label>
      <span class="variation-select">
        <select id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
      </span>
    </div>
    <div class="minimal-form-input">
      <label for="address_zip">
        <span class="text"><span class="text-inner">Zip/Postal Code</span></span>
      </label>
      <input type="text" id="address_zip" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
    </div>
    <input type="button" class="get-rates button btn2" value="{{ settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' }}" />
  </div>
  <div class="clearfix"></div>
  <div id="wrapper-response"></div>
</div>






<script defer="defer">
  /*Shopify.Cart.ShippingCalculator.show( {
    submitButton: {{ settings.shipping_calculator_submit_button_label | default: 'Calculate shipping' | json }}, 
    submitButtonDisabled: {{ settings.shipping_calculator_submit_button_label_disabled | default: 'Calculating...' | json }}{% if customer %},
    customerIsLoggedIn: true{% endif %},
    moneyFormat: {{ shop.money_with_currency_format | json }}
  });*/
</script>