{%- assign background_url = false -%}
{%- case section.settings.shop_image -%}
{%- when '1' -%}
  {%- if settings.shop_header_bg -%}
    {%- assign background_url = settings.shop_header_bg | img_url: 'master' -%}
  {%- endif -%}
{%- when '2' -%}
  {%- if collection.image -%}
    {%- assign background_url = collection.image | img_url: 'master' -%}
  {%- elsif settings.shop_header_bg -%}
    {%- assign background_url = settings.shop_header_bg | img_url: 'master' -%}
  {%- endif -%}
{%- endcase -%}

<div class="page-header shop"{% if background_url != false %} style="background-image: url({{ background_url }});"{% endif %}>
  <div class="row">
    <div class="row">
      <div class="title-section{% if template.name == 'collection' and settings.shop_header_style != '' %} background--{{ settings.shop_header_style }}{% endif %}">
        {%- include 'breadcrumb' -%}
        <h1 class="page-title">
          {%- if search and search.performed -%}
          {{ 'searchs.search.search_results' | t: terms: search.terms }}
          {%- else -%}
          {{ page_title }}
          {%- endif -%}
        </h1>
        {%- if section.settings.shop_description != '' and collection.description != '' -%}
        <div class="term-description">
          {{ collection.description }}
        </div>
        {%- endif -%}
        {%- if collection and collection.handle == 'all' -%}
        <ul class="list_shop_categories mobile list-centered">
          <li class="category_item">
            <a href="#categories">{{ 'collections.general.categories' | t | escape }}<i class="togarrow"></i></a>
          </li>
        </ul>
        <ul class="list_shop_categories desktop list-centered animated fadeIn">
          <li class="category_item">
            <a href="/collections/all" class="category_item_link">{{ 'collections.general.all_products' | t | escape }}</a>
            <span class="counter"><span class="counter">{{ collections.all.products_count }}</span></span>
          </li>
          {%- for my_collection in collections -%}
          {%- unless my_collection.handle == 'all' -%}
          <li class="category_item">
            <a href="{{ my_collection.url }}" class="category_item_link">{{ my_collection.title }}</a>
            <span class="counter">{{ my_collection.products_count }}</span>
          </li>
          {%- endunless -%}
          {%- endfor -%}
        </ul>
        {%- else -%}
        <ul class="list_shop_categories list-centered animated fadeIn">
          <li class="category_item">
            <i class="backtoall"></i>
            <a href="/collections/all" class="category_item_link">{{ 'collections.general.back' | t | escape }}</a>
            <span class="counter">{{ collections.all.products_count }}</span>
          </li>
        </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>