{%- capture my_title -%}{% include 'shortcode-render' render: 'title' %}{%- endcapture -%}
{%- capture my_blog_name -%}{% include 'shortcode-render' render: 'blog' %}{%- endcapture -%}
{%- capture my_limit -%}{% include 'shortcode-render' render: 'limit' %}{%- endcapture -%}

<div class="from-the-blog-wrapper">
  <div class="row">
    <div class="from-the-blog-wrapper">
      {%- if my_title != blank -%}
      <h2 class="shortcode_title">{{ my_title | escape }}</h2>
      {%- endif -%}

      {%- assign my_blog = blogs[my_blog_name] -%}
      {%- unless my_blog.articles_count == 0 -%}
      <div class="from-the-blog owl-carousel owl-theme">
        {%- for my_article in my_blog.articles limit: my_limit -%}
        <div class="from_the_blog_item{% unless my_article.image %} no_thumb{% endunless %}">
          <a class="from_the_blog_img_link" href="{{ my_article.url }}">
            <div class="from_the_blog_content_desc">
              <h3>{{ my_article.title }}</h3>
              <div class="blog-slider-meta">
                <span class="blog-slider-date">{{ my_article.published_at | time_tag: format: 'month_day_year' }}</span>
                {%- if my_blog.comments_enabled? -%}
                <span class="blog-slider-comments">{{ 'blogs.comments.comments_with_count' | t: count: my_article.comments_count }}</span>
                {%- endif -%}
              </div>
            </div>
            {%- if my_article.image -%}
              <span class="from_the_blog_overlay"></span>
              <span class="from_the_blog_img" style="background-image: url({{ my_article.image | img_url: '1024x' }});"></span>
            {%- else -%}
              <span class="from_the_blog_noimg"></span>
            {%- endif -%}
          </a>
        </div>
        {%- endfor -%}
      </div>
      {%- endunless -%}
    </div>
  </div>
</div>