{%- paginate customer.addresses by 5 -%}
<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div class="row">
    <div class="large-12 columns">
      <div class="entry-content">
        <div class="row">
          <div class="large-12 large-centered columns">
            <div class="my_account_container">
              <div class="myaccount_user">
                {%- include 'account-navigation' -%}
                <div class="myaccount-content">
                  <button type="button" class="button address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>
                  <div id="AddressNewForm" class="form-vertical hide">
                    {% form 'customer_address', customer.new_address %}
                    <h3>{{ 'customer.addresses.add_new' | t }}</h3>
                    
                    <div class="form-row form-row-first">
                      <p class="minimal-form-input no-text">
                        <label for="new-first_name">
                          <span class="text"><span class="text-inner">{{ 'customer.addresses.first_name' | t }}</span></span>
                        </label>
                        <input type="text" class="input-text" name="address[first_name]" id="new-first_name" value="{{ form.first_name }}" />
                      </p>
                    </div>
                    <div class="form-row form-row-last">
                      <p class="minimal-form-input no-text">
                        <label for="new-last_name">
                          <span class="text"><span class="text-inner">{{ 'customer.addresses.last_name' | t }}</span></span>
                        </label>
                        <input type="text" class="input-text" name="address[last_name]" id="new-last_name" value="{{ form.last_name }}" />
                      </p>
                    </div>
                    <div class="form-row form-row-wide">
                      <p class="minimal-form-input no-text">
                        <label for="new-company">
                          <span class="text"><span class="text-inner">{{ 'customer.addresses.company' | t }}</span></span>
                        </label>
                        <input type="text" class="input-text" name="address[company]" id="new-company" value="{{ form.company }}" />
                      </p>
                    </div>
                    <div class="form-row form-row-wide">
                      <p class="minimal-form-input no-text">
                        <label for="new-address1">
                          <span class="text"><span class="text-inner">{{ 'customer.addresses.address1' | t }}</span></span>
                        </label>
                        <input type="text" class="input-text" name="address[address1]" id="new-address1" value="{{ form.address1 }}" />
                      </p>
                    </div>
                    <div class="form-row form-row-wide">
                      <p class="minimal-form-input no-text">
                        <label for="new-address2">
                          <span class="text"><span class="text-inner">{{ 'customer.addresses.address2' | t }}</span></span>
                        </label>
                        <input type="text" class="input-text" name="address[address2]" id="new-address2" value="{{ form.address2 }}" />
                      </p>
                    </div>
                    <div class="form-row form-row-wide">
                      <p class="minimal-form-input no-text">
                        <label for="new-city">
                          <span class="text"><span class="text-inner">{{ 'customer.addresses.city' | t }}</span></span>
                        </label>
                        <input type="text" class="input-text" name="address[city]" id="new-city" value="{{ form.city }}" />
                      </p>
                    </div>
                    <div class="form-row form-row-wide">
                      <p class="selector-wrapper">
                        <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                        <span class="variation-select">
                          <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                        </span>
                      </p>
                    </div>
                    <div class="form-row form-row-wide" id="AddressProvinceContainerNew" style="display:none">
                      <p class="selector-wrapper">
                        <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                        <span class="variation-select">
                          <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"></select>
                        </span>
                      </p>
                    </div>
                    <div class="form-row form-row-wide">
                      <p class="minimal-form-input no-text">
                        <label for="new-zip">
                          <span class="text"><span class="text-inner">{{ 'customer.addresses.zip' | t }}</span></span>
                        </label>
                        <input type="text" class="input-text" name="address[zip]" id="new-zip" value="{{ form.zip }}" autocapitalize="characters" />
                      </p>
                    </div>
                    <div class="form-row form-row-wide">
                      <p class="minimal-form-input no-text">
                        <label for="new-phone">
                          <span class="text"><span class="text-inner">{{ 'customer.addresses.phone' | t }}</span></span>
                        </label>
                        <input type="text" class="input-text" name="address[phone]" id="new-phone" value="{{ form.phone }}" />
                      </p>
                    </div>
                    <div class="minimal-form">
                      {{ form.set_as_default_checkbox }}
                      <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                    </div>
                    <div class="minimal-form">
                      <input type="submit" class="button" value="{{ 'customer.addresses.add' | t }}" />
                      <button type="button" class="text-link address-new-toggle">{{ 'customer.addresses.cancel' | t }}</button>
                    </div>
                    {% endform %}
                  </div>
                  {%- if customer.addresses.size > 0 -%}
                  <div class="addresses row">
                    {%- for address in customer.addresses -%}
                    <div class="medium-6 columns">
                      <div class="address">
                        <h3>{{ 'customer.addresses.address' | t: count: forloop.index }} {% if address == customer.default_address %}<small>({{ 'customer.addresses.default' | t }})</small>{% endif %}</h3>
                        <address>{{ address | format_address }}</address>
                        <p>
                          <span class="edit-link"><button type="button" class="post-edit-link address-edit-toggle" data-form-id="{{ address.id }}"><i class="fa fa-pencil"></i>{{ 'customer.addresses.edit' | t }}</button></span>
                          <span class="delete-link"><button type="button" class="post-delete-link address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"><i class="fa fa-close"></i>{{ 'customer.addresses.delete' | t }}</button></span>
                        </p>
                      </div>
                      <div id="EditAddress_{{ address.id }}" class="hide">
                        {% form 'customer_address', address %}

                        <h3>{{ 'customer.addresses.edit_address' | t }}</h3>
                        
                        <div class="form-row form-row-wide">
                          <p class="minimal-form-input {% if form.first_name != '' %}has{% else %}no{% endif %}-text">
                            <label for="edit-first_name-{{ form.id }}">
                              <span class="text"><span class="text-inner">{{ 'customer.addresses.first_name' | t }}</span></span>
                            </label>
                            <input type="text" class="input-text" name="address[first_name]" id="edit-first_name-{{ form.id }}" value="{{ form.first_name }}" />
                          </p>
                        </div>
                        <div class="form-row form-row-wide">
                          <p class="minimal-form-input {% if form.last_name != '' %}has{% else %}no{% endif %}-text">
                            <label for="edit-last_name-{{ form.id }}">
                              <span class="text"><span class="text-inner">{{ 'customer.addresses.last_name' | t }}</span></span>
                            </label>
                            <input type="text" class="input-text" name="address[last_name]" id="edit-last_name-{{ form.id }}" value="{{ form.last_name }}" />
                          </p>
                        </div>
                        <div class="form-row form-row-wide">
                          <p class="minimal-form-input {% if form.company != '' %}has{% else %}no{% endif %}-text">
                            <label for="edit-company-{{ form.id }}">
                              <span class="text"><span class="text-inner">{{ 'customer.addresses.company' | t }}</span></span>
                            </label>
                            <input type="text" class="input-text" name="address[company]" id="edit-company-{{ form.id }}" value="{{ form.company }}" />
                          </p>
                        </div>
                        <div class="form-row form-row-wide">
                          <p class="minimal-form-input {% if form.address1 != '' %}has{% else %}no{% endif %}-text">
                            <label for="edit-address1-{{ form.id }}">
                              <span class="text"><span class="text-inner">{{ 'customer.addresses.address1' | t }}</span></span>
                            </label>
                            <input type="text" class="input-text" name="address[address1]" id="edit-address1-{{ form.id }}" value="{{ form.address1 }}" />
                          </p>
                        </div>
                        <div class="form-row form-row-wide">
                          <p class="minimal-form-input {% if form.address2 != '' %}has{% else %}no{% endif %}-text">
                            <label for="edit-address2-{{ form.id }}">
                              <span class="text"><span class="text-inner">{{ 'customer.addresses.address2' | t }}</span></span>
                            </label>
                            <input type="text" class="input-text" name="address[address2]" id="edit-address2-{{ form.id }}" value="{{ form.address2 }}" />
                          </p>
                        </div>
                        <div class="form-row form-row-wide">
                          <p class="minimal-form-input {% if form.city != '' %}has{% else %}no{% endif %}-text">
                            <label for="edit-city-{{ form.id }}">
                              <span class="text"><span class="text-inner">{{ 'customer.addresses.city' | t }}</span></span>
                            </label>
                            <input type="text" class="input-text" name="address[city]" id="edit-city-{{ form.id }}" value="{{ form.city }}" />
                          </p>
                        </div>
                        <div class="form-row form-row-wide">
                          <p class="selector-wrapper">
                            <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                            <span class="variation-select">
                              <select id="AddressCountry_{{ form.id }}" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                            </span>
                          </p>
                        </div>
                        <div class="form-row form-row-wide" id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                          <p class="selector-wrapper">
                            <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                            <span class="variation-select">
                              <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"></select>
                            </span>
                          </p>
                        </div>
                        <div class="form-row form-row-wide">
                          <p class="minimal-form-input {% if form.zip != '' %}has{% else %}no{% endif %}-text">
                            <label for="edit-zip-{{ form.id }}">
                              <span class="text"><span class="text-inner">{{ 'customer.addresses.zip' | t }}</span></span>
                            </label>
                            <input type="text" class="input-text" name="address[zip]" id="edit-zip-{{ form.id }}" value="{{ form.zip }}" autocapitalize="characters" />
                          </p>
                        </div>
                        <div class="form-row form-row-wide">
                          <p class="minimal-form-input {% if form.phone != '' %}has{% else %}no{% endif %}-text">
                            <label for="edit-phone-{{ form.id }}">
                              <span class="text"><span class="text-inner">{{ 'customer.addresses.phone' | t }}</span></span>
                            </label>
                            <input type="text" class="input-text" name="address[phone]" id="edit-phone-{{ form.id }}" value="{{ form.phone }}" />
                          </p>
                        </div>
                        <div class="minimal-form">
                          {{ form.set_as_default_checkbox }}
                          <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                        </div>
                        <div class="minimal-form">
                          <input type="submit" class="button" value="{{ 'customer.addresses.update' | t }}" />
                          <button type="button" class="text-link address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</button>
                        </div>
                        {% endform %}
                      </div>
                    </div>
                    {%- endfor -%}
                    
                    {%- if paginate.pages > 1 -%}
                      {%- include 'pagination' -%}
                    {%- endif -%}
                  </div>
                  {%- endif -%}
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endpaginate -%}