<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <div class="row">
      <div class="medium-10 medium-centered large-5 large-centered columns">
        <div class="login-register-container">
          <div class="row">
            <div class="large-12 columns">
              <div class="account-forms-container">
                <ul class="account-tab-list">
                  <li class="account-tab-item"><a class="account-tab-link current" href="/account/login">{{ 'customer.login.title' | t }}</a></li>
                  <li class="account-tab-item last"><a class="account-tab-link" href="/account/register">{{ 'customer.register.title' | t }}</a></li>
                </ul>
                <div class="account-forms">
                  <div id="CustomerLoginForm">
                    {%- form 'customer_login' -%}
                  
                    {{- form.errors | default_errors -}}

                    <div class="form-row form-row-wide">
                      <p class="minimal-form-input no-text">
                        <label for="login-email">
                          <span class="text">
                            <span class="text-inner">{{ 'customer.login.email' | t }} <span class="required">*</span></span>
                          </span>
                        </label>
                        <input type="email" required="required" class="input-text" name="customer[email]" id="login-email" autocorrect="off" autocapitalize="off" autofocus />
                      </p>
                    </div>
                    {%- if form.password_needed -%}
                    <div class="form-row form-row-wide">
                      <p class="minimal-form-input no-text">
                        <label for="login-password">
                          <span class="text">
                            <span class="text-inner">{{ 'customer.login.password' | t }} <span class="required">*</span></span>
                          </span>
                        </label>
                        <input type="password" required="required" class="input-text" name="customer[password]" id="login-password" autocorrect="off" autocapitalize="off" autofocus />
                      </p>
                    </div>
                    {%- endif -%}
                    <p class="form-row">
                      <input type="submit" class="button" name="login" value="{{ 'customer.login.sign_in' | t }}" />
                    </p>
                    {%- if form.password_needed -%}
                    <p class="form-row2">
                      <a id="RecoverPassword" href="#recover">{{ 'customer.login.forgot_password' | t }}</a>
                    </p>
                    {%- endif -%}
                    {%- endform -%}
                  </div>
                  <div id="RecoverPasswordForm" class="hide">
                    {%- form 'recover_customer_password' -%}
                    
                    <div class="clearfix">
                      <h2>{{ 'customer.recover_password.title' | t }}</h2>
                      <p>{{ 'customer.recover_password.subtext' | t }}</p>
                    </div>

                    {{- form.errors | default_errors -}}
                    
                    {%- if form.posted_successfully? -%}
                    <span class="hide reset-password-success"></span>
                    {%- endif -%}
                    
                    <div class="form-row form-row-wide">
                      <p class="minimal-form-input no-text">
                        <label for="recover-email">
                          <span class="text">
                            <span class="text-inner">{{ 'customer.recover_password.email' | t }} <span class="required">*</span></span>
                          </span>
                        </label>
                        <input type="email" required="required" class="input-text" name="email" id="recover-email" autocorrect="off" autocapitalize="off" autofocus />
                      </p>
                    </div>
                    <p class="form-row">
                      <input type="submit" class="button" name="recover" value="{{ 'customer.recover_password.submit' | t }}" />
                    </p>
                    <p class="form-row2">
                      <a id="HideRecoverPasswordLink" href="#">{{ 'customer.recover_password.cancel' | t }}</a>
                    </p>
                    {%- endform -%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>