<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <div class="row">
      <div class="medium-10 medium-centered large-5 large-centered columns">
        <div class="login-register-container">
          <div class="row">
            <div class="large-12 columns">
              <div class="account-forms-container">
                <ul class="account-tab-list">
                  <li class="account-tab-item"><a class="account-tab-link" href="/account/login">{{ 'customer.login.title' | t }}</a></li>
                  <li class="account-tab-item last"><a class="account-tab-link current" href="/account/register">{{ 'customer.register.title' | t }}</a></li>
                </ul>
                <div class="account-forms">
                  {%- form 'create_customer' -%}
                  
                  {{- form.errors | default_errors -}}
                  
                  <div class="form-row form-row-wide">
                    <p class="minimal-form-input no-text">
                      <label for="register-first_name">
                        <span class="text">
                          <span class="text-inner">{{ 'customer.register.first_name' | t }}</span>
                        </span>
                      </label>
                      <input type="text" class="input-text" name="customer[first_name]" id="register-first_name" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus />
                    </p>
                  </div>
                  <div class="form-row form-row-wide">
                    <p class="minimal-form-input no-text">
                      <label for="register-last_name">
                        <span class="text">
                          <span class="text-inner">{{ 'customer.register.last_name' | t }}</span>
                        </span>
                      </label>
                      <input type="text" class="input-text" name="customer[last_name]" id="register-last_name" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} />
                    </p>
                  </div>
                  <div class="form-row form-row-wide">
                    <p class="minimal-form-input no-text">
                      <label for="register-email">
                        <span class="text">
                          <span class="text-inner">{{ 'customer.register.email' | t }} <span class="required">*</span></span>
                        </span>
                      </label>
                      <input type="email" required="required" class="input-text" name="customer[email]" id="register-email" {% if form.email %}value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" />
                    </p>
                  </div>
                  <div class="form-row form-row-wide">
                    <p class="minimal-form-input no-text">
                      <label for="register-password">
                        <span class="text">
                          <span class="text-inner">{{ 'customer.register.password' | t }} <span class="required">*</span></span>
                        </span>
                      </label>
                      <input type="password" required="required" class="input-text" name="customer[password]" id="register-password" />
                    </p>
                  </div>
                  <p class="form-row">
                    <input type="submit" class="button" name="register" value="{{ 'customer.register.submit' | t }}" />
                  </p>
                  {%- endform -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>