<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <div class="row">
      <div class="medium-10 medium-centered large-6 large-centered columns">
        <div class="login-register-container">
          <div class="row">
            <div class="large-12 columns">
              <div class="account-forms-container">
                <ul class="account-tab-list">
                  <li class="account-tab-item"><span class="account-tab-link current">{{ 'customer.reset_password.title' | t }}</span></li>
                </ul>
                <div class="account-forms">
                  {%- form 'reset_customer_password' -%}
                  <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
                  
                  {{- form.errors | default_errors -}}
                  
                  <div class="form-row form-row-wide">
                    <p class="minimal-form-input no-text">
                      <label for="reset-password">
                        <span class="text">
                          <span class="text-inner">{{ 'customer.reset_password.password' | t }} <span class="required">*</span></span>
                        </span>
                      </label>
                      <input type="password" required="required" class="input-text" name="customer[password]" id="reset-password" />
                    </p>
                  </div>
                  <div class="form-row form-row-wide">
                    <p class="minimal-form-input no-text">
                      <label for="reset-password2">
                        <span class="text">
                          <span class="text-inner">{{ 'customer.reset_password.password_confirm' | t }} <span class="required">*</span></span>
                        </span>
                      </label>
                      <input type="password" required="required" class="input-text" name="customer[password_confirmation]" id="reset-password2" />
                    </p>
                  </div>
                  <p class="form-row">
                    <input type="submit" class="button" name="reset" value="{{ 'customer.reset_password.submit' | t }}" />
                  </p>
                  {%- endform -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>