{%- paginate blog.articles by 12 -%}
<div id="primary" class="blog-content-area">
  {%- include 'blog-header' -%}
  <div class="row">
    <div class="columns {% if section.settings.blog_layout == '' %}large-12 no-sidebar{% else %}large-8 with-sidebar{% endif %}">
      <div id="content" class="site-content {{ section.settings.blog_design }}">
        {%- for article in blog.articles -%}
        
        {%- assign is_sub = false -%}
        {%- if forloop.index != 1 -%}
        {%- assign is_sub = true -%}
        {%- endif -%}
        
        {%- if section.settings.blog_design == 'grid' -%}
        {%- assign is_sub = true -%}
        {%- endif -%}
        
        {%- assign article_excerpt = article.excerpt -%}
        {%- unless article.excerpt.size > 0 -%}
        {%- assign article_excerpt = article.content | strip_html | truncatewords: 30 -%}
        {%- endunless -%}
        {%- capture my_shortcode -%}{% include 'shortcode-revert' load: article_excerpt %}{%- endcapture -%}
        
        {%- capture post_tags -%}
        <ul class="post-categories">
          {%- for tag in article.tags -%}
          <li>{{ tag | link_to_add_tag: tag }}</li>
          {%- endfor -%}
        </ul>
        {%- endcapture -%}
        
        <article class="post{% if is_sub %} sub-post{% endif %}">
          <div class="entry-header">
            {%- if is_sub and article.image -%}
            <div class="entry-thumbnail">
              {%- if article.tags.size > 0 -%}
              {{- post_tags -}}
              {%- endif -%}
              <a href="{{ article.url }}" rel="bookmark">
                {{- article | img_url: 'master' | img_tag: article.title -}}
              </a>
            </div>
            {%- elsif my_shortcode contains 'gallery' or my_shortcode contains 'youtube' or my_shortcode contains 'vimeo' -%}
            <div class="entry-thumbnail">
              {%- if my_shortcode contains 'gallery' and article.tags.size > 0 -%}
              {{- post_tags -}}
              {%- endif -%}
              {%- include 'shortcode' load: my_shortcode -%}
            </div>
            {%- elsif article.image -%}
            <div class="entry-thumbnail">
              {%- if article.tags.size > 0 -%}
              {{- post_tags -}}
              {%- endif -%}
              <a href="{{ article.url }}" rel="bookmark">
                {{- article | img_url: 'master' | img_tag: article.title -}}
              </a>
            </div>
            {%- endif -%}
          </div>
          <div class="entry-summary">
            <div class="row">
              <div class="columns {% if section.settings.blog_layout == '' %}large-8 large-centered without-sidebar{% else %}large-12{% endif %}">
                <div class="post-section">
                  {%- if section.settings.blog_date != '' -%}
                  <div class="post_header_date">{{ article.published_at | time_tag: format: 'month_day_year' }}</div>
                  {%- endif -%}
                  <h2 class="entry-title">
                    <a href="{{ article.url }}" rel="bookmark">{{ article.title }}</a>
                  </h2>
                </div>
                <div class="entry-content">
                  <div class="entry-excerpt">
                    {%- if is_sub -%}
                    {{- article_excerpt | remove: my_shortcode | strip_html | truncatewords: 30 -}}
                    {%- else -%}
                    {{- article_excerpt | remove: my_shortcode -}}
                    {%- endif -%}
                  </div>
                  <div class="morelink">
                    <a href="{{ article.url }}" class="more-link">{{ 'blogs.article.read_more' | t | escape }}</a>
                  </div>
                  {%- if blog.comments_enabled? -%}
                  <div class="comment-link">
                    <p>
                      <a href="{{ article.url }}#comments" class="comments-link">
                        {{- 'blogs.comments.comments_with_count' | t: count: article.comments_count -}}
                      </a>
                    </p>
                  </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </article>
        {%- endfor -%}
      </div>
    </div>
    {%- if section.settings.blog_layout != '' -%}
    <div class="large-4 columns">
      <div class="row">
        <div class="large-11 large-push-1 columns">
          <div id="secondary" class="widget-area" role="complementary">
            {%- include 'blog-sidebar' -%}
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>
</div>
{%- endpaginate -%}

{% schema %}
  {
    "name": "Blog Pages",
    "settings": [
      {
        "type": "select",
        "id": "blog_layout",
        "label": "Blog Layout [( ? )](\/\/goo.gl\/pABHBu)",
        "options": [
          {
            "value": "",
            "label": "No sidebar"
          },
          {
            "value": "1",
            "label": "Have a sidebar"
          }
        ]
      },
      {
        "type": "select",
        "id": "blog_design",
        "label": "Blog page Design",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "classic",
            "label": "Classic"
          },
          {
            "value": "grid",
            "label": "Grid"
          }
        ]
      },
      {
        "type": "select",
        "id": "blog_date",
        "label": "Show Date",
        "options": [
          {
            "value": "",
            "label": "No"
          },
          {
            "value": "1",
            "label": "Yes"
          }
        ]
      },
      {
        "type": "header",
        "content": "Blog Sidebar"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "label": "YouTube or Vimeo link",
            "accept": ["youtube", "vimeo"]
          }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "html",
            "id": "code",
            "label": "HTML"
          }
        ]
      },
      {
        "type": "tags",
        "name": "Blog tags",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Tags"
          }
        ]
      },
      {
        "type": "posts",
        "name": "Featured blog",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Featured Posts"
          },
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
          },
          {
            "type": "range",
            "id": "limit",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "Limit",
            "default": 3
          }
        ]
      }
    ]
  }
{% endschema %}