<div data-section-id="{{ section.id }}" data-section-type="cart-template">
  <div id="primary" class="content-area">
    {%- include 'page-header' -%}
    <div id="content" class="site-content">
      <div class="row">
        <div class="large-12 columns">
          <div class="entry-content">
            {%- if cart.item_count > 0 -%}
            <form action="/cart" method="post" class="shopping-cart">
              <div class="cart-form">
                <table class="shop_table shop_table_responsive cart">
                  <thead>
                    <tr>
                      <th class="product-remove">&nbsp;</th>
                      <th class="product-thumbnail">&nbsp;</th>
                      <th class="product-name">{{ 'cart.label.product' | t }}</th>
                      <th class="product-price">{{ 'cart.label.price' | t }}</th>
                      <th class="product-quantity">{{ 'cart.label.quantity' | t }}</th>
                      <th class="product-subtotal">{{ 'cart.label.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%- for item in cart.items -%}
                    <tr class="cart_item">
                      <td class="product-remove">
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove" title="{{ 'cart.general.remove' | t | escape }}">×</a>
                      </td>
                      <td class="product-thumbnail">
                        <a href="{{ item.url | within: collections.all }}">
                          <img src="{{ item | img_url: '150x' }}" alt="" srcset="{{ item | img_url: '150x' }} 150w, {{ item | img_url: '235x' }} 235w, {{ item | img_url: '768x' }} 768w" sizes="(max-width: 150px) 100vw, 150px" />
                        </a>
                      </td>
                      <td class="product-name">
                        <div class="item_title">
                          <a href="{{ item.url | within: collections.all }}">{{ item.product.title }}</a>
                        </div>
                        {%- unless item.variant.title contains 'Default' -%}
                        <div class="cart_meta">
                          <dl class="variation">
                            {%- for option in item.product.options -%}
                            <dt>{{ option }}:</dt>
                            <dd><span>{{ item.variant.options[forloop.index0] }}</span></dd>
                            {%- endfor -%}
                          </dl>
                        </div>
                        {%- endunless -%}
                        {%- assign property_size = item.properties | size -%}
                        {%- if property_size > 0 -%}
                        <div class="cart_meta">
                          <div class="cart_meta_outer">
                          {%- for p in item.properties -%}
                          <div  class="cart_meta_inner {{p.first | handle}}">
                            {%- unless p.last == blank -%}
                          <b>{{- p.first -}}:</b>

                              {%- if p.last contains '/uploads/' -%}
                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                              {%- else -%}
                          <span> {{- p.last -}}</span>
                              {%- endif -%}
                            {%- endunless -%}
                          </div>
                          {%- endfor -%}
                          <div  data-id="{{item.id}}"  class="update_meta">Edit</div>
                          </div>
                          <div  class="form_lineitems lineitems_update_form_outer">
                          <form class="lineitems_update_form">
                            {%- for p in item.properties -%}
                            <label class="label{{- p.first -}}">{{- p.first -}}</label>
                            <input class="input{{- p.first -}}" type="text" value="{{- p.last -}}">
                            {% endfor %}
                            <button data-line="{{forloop.index}}" class="Save-Update">Save Update</button><button class="cancle-Update">Cancle</button>
                          </form>
                          </div>
                        </div>
                        
                      {%- endif -%}
                      </td>
                      <td class="product-price">
                        <span class="amount money">{{ item.price | money }}</span>
                        {%- for discount in item.discounts -%}
                        <div class="item_discount">{{ discount.title }}</div>
                        {%- endfor -%}
                      </td>
                      <td class="product-quantity">
                        <div class="quantity">
                          <input id="updates_{{ item.key }}" type="number" step="1" min="0" name="updates[]" value="{{ item.quantity }}" title="{{ 'cart.label.quantity' | t }}" class="input-text qty text" size="4" pattern="[0-9]*" />
                        </div>
                      </td>
                      <td class="product-subtotal">
                        <span class="amount money">{{ item.line_price | money }}</span>
                      </td>
                    </tr>
                    {%- endfor -%}
                    <tr>
                      <td colspan="6" class="actions">
                        
                        {%- if section.settings.cart_notes != '' -%}
                        <div class="cart-note">
                          <div class="minimal-form-input {% if cart.note != '' %}has{% else %}no{% endif %}-text">
                            <label for="cart-note">
                              <span class="text"><span class="text-inner">{{ 'cart.general.note' | t }}</span></span>
                            </label>
                            <input type="text" name="note" id="cart-note" class="input-text" value="{{ cart.note }}" />
                          </div>
                        </div>
                        {%- endif -%}
                        <input type="submit" name="update" class="button btn2" value="{{ 'cart.general.update' | t }}" />
                        <div id = "datepicker-2"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="cart-sidebar">
                <div class="cart-collaterals">
                  <div class="cart_totals">
                    <h2 class="total-title">{{ 'cart.general.cart_totals' | t }}</h2>
                    <table class="shop_table shop_table_responsive">
                      <tbody>
                        <tr class="cart-subtotal">
                          <th>{{ 'cart.general.subtotal' | t }}</th>
                          <td><span class="money amount">{{ cart.total_price | money }}</span>
                          </td>
                        </tr>
                        {% if cart.total_discounts > 0 %}
                        <tr class="order-total">
                          <th>{{ 'cart.general.savings' | t }}</th>
                          <td>
                            <strong>
                              <span class="money amount">
                                {{ cart.total_discounts | money }}
                              </span>
                            </strong>
                          </td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                  <div class="proceed-to-checkout">
                    <button type="submit" name="checkout" class="checkout-button button btn1 bshadow alt wc-forward" value="">
                      <span>{{ 'cart.general.checkout' | t }}</span>
                    </button>
                    {% if additional_checkout_buttons %}
                    <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </form>
            {%- else -%}
            <div class="empty">
              <p>{{ 'cart.general.empty' | t }}</p>
            </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
label.labelLogo,input.inputLogo {
    visibility: hidden;
    position: absolute;
}
  button.Save-Update,button.cancle-Update,.update_meta {
    background: #000;
    color: #fff;
    padding: 12px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}
 .update_meta {
    display: inline-block;
    padding: 8px 15px;
    margin-top: 10px;
   cursor:pointer;
}
  .form_lineitems.lineitems_update_form_outer {
    display: none;
}
  tr.cart_item {
    padding: 10px 0px !important;
    display: block;
}
</style>
{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "select",
        "id": "cart_notes",
        "label": "Cart notes",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      }
    ]
  }
{% endschema %}
