<footer id="site-footer-{{ section.id }}" class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  {%- if section.settings.footer_instagram != '' -%}
  {%- assign my_instagram = section.settings.footer_instagram_token | split: '.' -%}
  <div class="footer-instagram-section">
    <ul id="footer-instagram" class="instagram-pics instagram-size-small" data-id="{{ my_instagram.first | escape }}" data-token="{{ section.settings.footer_instagram_token | escape }}" data-limit="{{ section.settings.footer_instagram_limit | plus:0 }}"></ul>
    <p class="clear"><a href="//instagram.com/{{ section.settings.footer_instagram_username | escape }}" rel="me" target="_self">{{ 'footer.instagram.follow_our_instagram' | t | escape }}</a></p>
  </div>
  {%- endif -%}
  
  {%- if section.settings.footer_area != '' -%}
  <div class="f-columns widget-area">
    {%- case section.settings.footer_area -%}
    {%- when '1' -%}
      {%- include 'footer-area-1' -%}
    {%- when '2' -%}
      {%- include 'footer-area-2' -%}
    {%- when '3' -%}
      {%- include 'footer-area-3' -%}
    {%- when '4' -%}
      {%- include 'footer-area-4' -%}
  	{%- when '5' -%}
      {%- include 'footer-area-5' -%}
    {%- when '6' -%}
      {%- include 'footer-area-6' -%}
    {%- when '7' -%}
      {%- include 'footer-area-7' -%}
    {%- when '8' -%}
      {%- include 'footer-area-8' -%}
  	{%- when '9' -%}
      {%- include 'footer-area-9' -%}
    {%- endcase -%}
  </div>
  {%- endif -%}
  <div class="f-copyright">
    <div class="row">
      <div class="medium-12 columns socials">
        <div class="footer-divider"></div>
        {%- if section.settings.footer_social != '' -%}
          {%- include 'shortcode' load: section.settings.footer_social_content -%}
        {%- endif -%}            
      </div>
      {%- if section.settings.footer_copyright != '' -%}
      <div class="medium-12 columns copytxt">
        <p class="copyright">
          {{ section.settings.footer_copyright }}
        </p>
      </div>
      {%- endif -%}
    </div>    
  </div> 
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "select",
        "id": "footer_area",
        "label": "Footer Widget Areas [( ? )](\/\/goo.gl\/xqR9oQ)",
        "options": [
          {
            "value": "0",
            "label": "None"
          },
          {
            "value": "1",
            "label": "Area 1"
          },
          {
            "value": "2",
            "label": "Area 2"
          },
          {
            "value": "3",
            "label": "Area 3"
          },
          {
            "value": "4",
            "label": "Area 4"
          },
          {
            "value": "5",
            "label": "Area 5"
          },
          {
            "value": "6",
            "label": "Area 6"
          },
          {
            "value": "7",
            "label": "Area 7"
          },
          {
            "value": "8",
            "label": "Area 8"
          },
          {
            "value": "9",
            "label": "Area 9"
          }
        ]
      },
      {
        "type": "header",
        "content": "Footer 1"
      },
      {
        "type": "select",
        "id": "footer_1_align",
        "label": "Text Align",
        "options": [
          {
            "label": "Left",
            "value": "left-align"
          },
          {
            "label": "Right",
            "value": "right-align"
          }
        ]
      },
      {
        "type": "html",
        "id": "footer_1_content",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "Footer 2"
      },
      {
        "type": "select",
        "id": "footer_2_align",
        "label": "Text Align",
        "options": [
          {
            "label": "Left",
            "value": "left-align"
          },
          {
            "label": "Right",
            "value": "right-align"
          }
        ]
      },
      {
        "type": "html",
        "id": "footer_2_content",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "Footer 3"
      },
      {
        "type": "select",
        "id": "footer_3_align",
        "label": "Text Align",
        "options": [
          {
            "label": "Left",
            "value": "left-align"
          },
          {
            "label": "Right",
            "value": "right-align"
          }
        ]
      },
      {
        "type": "html",
        "id": "footer_3_content",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "Footer 4"
      },
      {
        "type": "select",
        "id": "footer_4_align",
        "label": "Text Align",
        "options": [
          {
            "label": "Left",
            "value": "left-align"
          },
          {
            "label": "Right",
            "value": "right-align"
          }
        ]
      },
      {
        "type": "html",
        "id": "footer_4_content",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "Footer 5"
      },
      {
        "type": "select",
        "id": "footer_5_align",
        "label": "Text Align",
        "options": [
          {
            "label": "Left",
            "value": "left-align"
          },
          {
            "label": "Right",
            "value": "right-align"
          }
        ]
      },
      {
        "type": "html",
        "id": "footer_5_content",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "Instagram Feed"
      },
      {
        "type": "select",
        "id": "footer_instagram",
        "label": "Instagram Feed",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      },
      {
        "type": "text",
        "id": "footer_instagram_username",
        "label": "Username"
      },
      {
        "type": "text",
        "id": "footer_instagram_token",
        "label": "Access Token [( ? )](\/\/goo.gl\/OypFlG)"
      },
      {
        "type": "range",
        "id": "footer_instagram_limit",
        "min": 4,
        "max": 16,
        "step": 1,
        "label": "Limit",
        "default": 8
      },
      {
        "type": "header",
        "content": "Social Media Icons"
      },
      {
        "type": "select",
        "id": "footer_social",
        "label": "Social Media Icons",
        "options": [
          {
            "label": "Disable",
            "value": ""
          },
          {
            "label": "Enable",
            "value": "1"
          }
        ]
      },
      {
        "type": "html",
        "id": "footer_social_content",
        "label": "Social Icons"
      },
      {
        "type": "header",
        "content": "Copyright"
      },
      {
        "type": "html",
        "id": "footer_copyright",
        "label": "Copyright Text"
      }
    ]
  }
{% endschema %}
