<div id="products-{{ section.id }}" class="page-width{% if section.settings.sidebar == 'left' or section.settings.sidebar == 'right' %} has-sidebar{% endif %}" data-section-id="{{ section.id }}" data-section-type="products"{% if section.settings.background != blank %} style="background-color:{{ section.settings.background }};"{% endif %}>
  {%- if section.settings.sidebar == 'left' -%}
  <div class="column-container small-12 large-5 float-{{ section.settings.sidebar }}">
    <div class="column-inner"{% if section.settings.sidebar_image %} style="background-image:url({{ section.settings.sidebar_image | img_url:'master' }});"{% endif %}>
      <div class="empty_space" style="height:{{ section.settings.sidebar_height | default:400 | plus:0 }}px;"><span class="empty_space_inner"></span></div>
    </div>
  </div>
  {%- endif -%}
  <div class="column-container{% if section.settings.sidebar == 'left' or section.settings.sidebar == 'right' %} small-12 large-7 float-left{% endif %}">
    <div class="row">
      <div class="large-12 columns">
        {%- assign my_shortcode = '' -%}

        {%- if section.settings.layout == 'listing' -%}
        {%- assign my_shortcode = '[products' -%}
        {%- else -%}
        {%- assign my_shortcode = '[products-slider' -%}
        {%- endif -%}

        {%- assign my_section_title = '' -%}
        {%- unless section.settings.sidebar == 'left' or section.settings.sidebar == 'right' -%}
          {%- assign my_section_title = section.settings.heading | escape -%}
        {%- endunless -%}
        {%- assign my_shortcode = my_shortcode | append: ' title="' | append: my_section_title | append: '" collection="' | append: section.settings.collection | append: '" limit="' | append: section.settings.limit | append: '" columns="' | append: section.settings.columns | append: '"]' -%}

        {%- if section.settings.sidebar == 'left' or section.settings.sidebar == 'right' -%}
        <div class="empty_space" style="height:50px"><span class="empty_space_inner"></span></div>
        <h3 class="shortcode_title_1">{{ collections[section.settings.collection].title }}</h3>
        <h4 class="shortcode_title_2">{{ section.settings.heading | escape }}</h4>
        <div class="empty_space" style="height:40px"><span class="empty_space_inner"></span></div>
        {%- endif -%}
        
        {%- include 'shortcode' load: my_shortcode -%}
      </div>
    </div>
  </div>
  {%- if section.settings.sidebar == 'right' -%}
  <div class="column-container small-12 large-5 float-{{ section.settings.sidebar }}">
    <div class="column-inner"{% if section.settings.sidebar_image %} style="background-image:url({{ section.settings.sidebar_image | img_url:'master' }});"{% endif %}>
      <div class="empty_space" style="height:{{ section.settings.sidebar_height | default:400 | plus:0 }}px;"><span class="empty_space_inner"></span></div>
    </div>
  </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "limit",
        "min": 2,
        "max": 20,
        "step": 1,
        "label": "Number of Products",
        "default": 8
      },
      {
        "type": "range",
        "id": "columns",
        "min": 2,
        "max": 6,
        "step": 1,
        "label": "Products per Row",
        "default": 4
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "listing",
            "label": "Listing"
          },
          {
            "value": "slider",
            "label": "Slider"
          }
        ]
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "select",
        "id": "sidebar",
        "label": "Position",
        "options": [
          {
            "value": "",
            "label": "None"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "sidebar_height",
        "label": "Height (px)"
      },
      {
        "type": "image_picker",
        "id": "sidebar_image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}