<div id="grid-wrapper-{{- section.id -}}" class="container" data-section-id="{{ section.id }}" data-section-type="grid-view">
  <article class="page page-grid">
    <div class="header-grid">
      <h1>{{- section.settings.heading -}}</h1>
    </div>
    <div class="row">
      <div class="column">
        <ul id="og-grid-{{- section.id -}}" class="og-grid">
          {%- for block in section.blocks limit: section.blocks.size -%}
          <li class="aspect-ratio-{{ section.settings.image_layout }}">
            <a class="aspect-product__wrapper" href="{{- block.settings.url -}}" data-cta="{{- block.settings.cta -}}" data-largesrc="{%- if block.settings.image != blank -%}{{- block.settings.image | img_url:"master" -}}{%- else -%}{{- '500x.png' | asset_img_url: "master" -}}{%- endif -%}" data-title="{{- block.settings.heading -}}" data-description="{{- block.settings.caption -}}">
              <div class="aspect-product__spacer"><div class="aspect-product__spacer-inner"></div></div>
              <div class="aspect-product__images">
                <img class="aspect-product__picture" src="{%- if block.settings.thumbnail != blank -%}{{- block.settings.thumbnail | img_url:"master" -}}{%- else -%}{{- '250x.png' | asset_img_url: "master" -}}{%- endif -%}"/>
              </div>
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </article>
</div>

{% schema %}
{
  "name": "Grids Expanding Preview",
  "class": "grid-wrapper",
  "settings": [
    {
      "type": "html",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "image_layout",
      "label": "Image Layout",
      "default": "075",
      "options": [
        {
          "value": "1",
          "label": "Square 1:1"
        },
        {
          "value": "075",
          "label": "Portrait 3:4"
        },
        {
          "value": "0667",
          "label": "Portrait 2:3"
        },
        {
          "value": "1333",
          "label": "Landscape 4:3"
        },
        {
          "value": "15",
          "label": "Landscape 3:2"
        }
      ]
    }
  ],
  "blocks": [{
    "type": "item",
    "name": "Item",
    "settings": [
      {
        "type": "image_picker",
        "id": "thumbnail",
        "label": "Thumbnail"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "html",
        "id": "caption",
        "label": "Caption",
        "default": "Your Captions Go Here"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Link",
        "default": "/"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "Call To Action",
        "default": "Visit Website"
      }
    ]
  }],
  "presets": [{
    "name": "Grid Preview",
    "category": "Content",
    "settings": {
      "heading": "Header Goes Here"
    },
    "blocks": [
      {
        "type": "item"
      },
      {
        "type": "item"
      },
      {
        "type": "item"
      },
      {
        "type": "item"
      },
      {
        "type": "item"
      },
      {
        "type": "item"
      },
      {
        "type": "item"
      },
      {
        "type": "item"
      }
    ]
  }]
}
{% endschema %}