{%- assign product_limit = section.settings.shop_products_row | times: section.settings.shop_rows_page -%}
{%- paginate search.results by product_limit -%}
<div id="primary" class="content-area shop-page">
  {%- include 'shop-header' -%}
  <div id="content" class="site-content">
    <div class="row">
      <div id="content-position" class="large-12 columns content-pos{% if section.settings.shop_pagination != '' %} hide-pagination{% endif %}">
        <div class="top_bar_shop">
          <div class="catalog-ordering">
            {%- if search.results_count > 0 -%}
            <p class="result-count">{{ 'collections.general.showing' | t | escape }}: {{ paginate.current_offset | plus:1 }}-{% if paginate.next %}{{ paginate.current_offset | plus:paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} {{ 'collections.general.of' | t | escape }} {{ 'collections.general.items_with_count' | t: count: paginate.items }}</p>
            
            <div class="shop-search">
              <form role="search" method="get" class="search-form" action="/search">
                <div class="minimal-form-input no-text">
                  <label class="screen-reader-text" for="searchs-search-field">
                    <span class="text"><span class="text-inner">{{ 'searchs.search.search_for' | t | escape }}</span></span>
                  </label>
                  <input type="search" id="searchs-search-field" class="search-field" name="q" />
                </div>
                <input type="submit" value="{{ 'searchs.search.submit' | t | escape }}" />
                <input type="hidden" name="type" value="product" />
              </form>
            </div>
            {%- endif -%}
          </div>
          <div class="clearfix"></div>
        </div>
        {%- if search.results_count > 0 -%}
          {%- case section.settings.shop_products_row -%}
            {%- when 6 -%}
              {%- assign products_per_row = 6 -%}
              {%- assign products_per_row_xl = 6 -%}
              {%- assign products_per_row_l = 6 -%}
              {%- assign products_per_row_m = 4 -%}
              {%- assign products_per_row_s = 2 -%}
            {%- when 5 -%}
              {%- assign products_per_row = 5 -%}
              {%- assign products_per_row_xl = 5 -%}
              {%- assign products_per_row_l = 5 -%}
              {%- assign products_per_row_m = 3 -%}
              {%- assign products_per_row_s = 2 -%}
            {%- when 4 -%}
              {%- assign products_per_row = 4 -%}
              {%- assign products_per_row_xl = 4 -%}
              {%- assign products_per_row_l = 4 -%}
              {%- assign products_per_row_m = 3 -%}
              {%- assign products_per_row_s = 2 -%}
            {%- when 3 -%}
              {%- assign products_per_row = 3 -%}
              {%- assign products_per_row_xl = 3 -%}
              {%- assign products_per_row_l = 3 -%}
              {%- assign products_per_row_m = 2 -%}
              {%- assign products_per_row_s = 2 -%}
            {%- else -%}
              {%- assign products_per_row = 2 -%}
              {%- assign products_per_row_xl = 2 -%}
              {%- assign products_per_row_l = 2 -%}
              {%- assign products_per_row_m = 2 -%}
              {%- assign products_per_row_s = 2 -%}
          {%- endcase -%}
          <div class="row visible products products-grid product-category-list small-up-{{ products_per_row_s }} medium-up-{{ products_per_row_m }} large-up-{{ products_per_row_l }} xlarge-up-{{ products_per_row_xl }} xxlarge-up-{{ products_per_row }} animated fadeIn">
            {%- for my_product in search.results -%}
              {%- include 'product-item' -%}
            {%- endfor -%}
          </div>
          {%- case section.settings.shop_pagination -%}
          {%- when '1' -%}
            <div class="eva_ajax_load_button animated fadeIn">
              <a href="#" data-processing="0" data-loading-items="{{ 'general.pagination.loading_items' | t | escape }}" data-no-more="{{ 'general.pagination.no_more' | t | escape }}">
                <i class="icon-px-outline-load"></i>
                &nbsp;&nbsp;{{- 'general.pagination.load_more' | t | escape -}}
              </a>
            </div>
            {%- include 'pagination' -%}
          {%- when '2' -%}
            <div class="eva_ajax_load_button eva_ajax_load_more_hidden animated fadeIn">
              <a href="#" data-processing="0" data-loading-items="{{ 'general.pagination.loading_items' | t | escape }}" data-no-more="{{ 'general.pagination.no_more' | t | escape }}">
                <i class="icon-px-outline-load"></i>
                &nbsp;&nbsp;{{- 'general.pagination.load_more' | t | escape -}}
              </a>
            </div>
            {%- include 'pagination' -%}
          {%- else -%}
            {%- include 'pagination' -%}
          {%- endcase -%}
        {%- else -%}
        <div class="no-products">
          <p class="empty">{{ 'searchs.search.no_results_html' | t: terms: search.terms }}</p>
          <form role="search" method="get" class="search-form" action="/search">    
            <div class="minimal-form-input no-text">
              <label class="screen-reader-text" for="searchs-search-field">
                <span class="text"><span class="text-inner">{{ 'searchs.search.search_for' | t | escape }}</span></span>
              </label>
              <input type="search" id="searchs-search-field" class="search-field" name="q" />
            </div>
            <input class="search-submit" type="submit" value="{{ 'searchs.search.submit' | t | escape }}" />
            <input type="hidden" name="type" value="product" />
          </form>
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{%- endpaginate -%}

{% schema %}
  {
    "name": "Search Page",
    "settings": [
      {
        "type": "select",
        "id": "shop_pagination",
        "label": "Shop Pagination",
        "options": [
          {
            "value": "",
            "label": "Classic"
          },
          {
            "value": "1",
            "label": "Load More"
          },
          {
            "value": "2",
            "label": "Infinite"
          }
        ]
      },
      {
        "type": "range",
        "id": "shop_products_row",
        "min": 2,
        "max": 6,
        "step": 1,
        "label": "Products per Row",
        "default": 4
      },
      {
        "type": "range",
        "id": "shop_rows_page",
        "min": 2,
        "max": 8,
        "step": 1,
        "label": "Rows per Page",
        "default": 2
      },
      {
        "type": "select",
        "id": "shop_image",
        "label": "Background in header",
        "options": [
          {
            "value": "",
            "label": "None"
          },
          {
            "value": "1",
            "label": "Default image"
          }
        ]
      }
    ]
  }
{% endschema %}