{%- layout none -%}
{%- assign tmp =  shop.url | append: page.url | append: "/" -%}
{%- assign s_handles = canonical_url | replace : tmp, ""  -%}
{%- assign handles = s_handles | split: "," -%}
{%- assign options =  page.content | split: "," -%}
<div id="be_compare_features_table_inner" class="compare-content">
  <table id="be_compare_features_table" class="table table-hover">
    <tbody id="table-compare">
      {%- if settings.compare_image -%}
      <tr class="odd image">
        <th><span>{{- "products.compare.product_image" | t -}}</span></th>
        {%- for r_handle in handles limit: handles.size -%}
        {%- assign h_tmp = r_handle | split: "_sp_" -%}
        {%- assign _handle = h_tmp[0] -%}
        {%- assign _id = h_tmp[1] -%}
        {%- if _handle != blank -%}
        {%- assign _product =  all_products[_handle] -%}
        {%- assign current_variant = _product.selected_or_first_available_variant -%}
        {%- endif -%}
        <td class="{%- cycle 'odd ', 'even ' -%}text-center unero_{{- r_handle -}}">
          <div class="cp-image">
            <a href="{{ _product.url | within: collections.all }}">
              <img src="{{ _product | img_url: '150x' }}" alt="" srcset="{{ _product | img_url: '150x' }} 150w, {{ _product | img_url: '235x' }} 235w, {{ _product | img_url: '768x' }} 768w" sizes="(max-width: 150px) 100vw, 150px" />
            </a>
          </div>
        </td>  
        {%- endfor -%}
      </tr>
      {%- endif -%}
      {%- if settings.compare_title -%}
      <tr class="odd title">
        <th><span>{{- "products.compare.product_name" | t -}}</span></th>
        {%- for r_handle in handles limit: handles.size -%}
        {%- assign h_tmp = r_handle | split: "_sp_" -%}
        {%- assign _handle = h_tmp[0] -%}
        {%- assign _id = h_tmp[1] -%}
        {%- if _handle != blank -%}
        {%- assign _product =  all_products[_handle] -%}
        {%- assign current_variant = _product.selected_or_first_available_variant -%}
        {%- endif -%}
        <td class="{%- cycle 'odd ', 'even ' -%}text-center unero_{{- r_handle -}}">
          <div class="cp-image">
              <a href="{{ _product.url | within: collections.all }}">
                {{- _product.title -}}
              </a>
          </div>
        </td>  
        {%- endfor -%}
      </tr>
      {%- endif -%}
      {%- if settings.compare_price -%}
      <tr class="even c_price">
        <th><span>{{- "products.compare.unit_price" | t -}}</span></th>
        {%- for r_handle in handles limit: handles.size -%}
        {%- assign h_tmp = r_handle | split: "_sp_" -%}
        {%- assign _handle = h_tmp[0] -%}
        {%- assign _id = h_tmp[1] -%}
        {%- if _handle != blank -%}
        {%- assign _product =  all_products[_handle] -%}
        {%- assign current_variant = _product.selected_or_first_available_variant -%}
        {%- endif -%}
        <td class="price {%- cycle 'odd ', 'even ' -%}text-center unero_{{- r_handle -}}">
          <div class="product-price cp-price"> 
            {%- if current_variant.compare_at_price > current_variant.price -%}
            <del class="price-compare">
              <span class="money">
                {{ current_variant.compare_at_price | money }}
              </span>
            </del>
            {%- endif -%}
            <span class="price-sale">
              <span itemprop="price" class="price money">{{ current_variant.price | money }}</span>
            </span>
          </div>
        </td>  
        {%- endfor -%}
      </tr>
      {%- endif -%}
      {%- if settings.compare_brand -%}
      <tr class="odd brand">
        <th><span>{{- "products.compare.brand" | t -}}</span></th>
        {%- for r_handle in handles limit: handles.size -%}
        {%- assign h_tmp = r_handle | split: "_sp_" -%}
        {%- assign _handle = h_tmp[0] -%}
        {%- assign _id = h_tmp[1] -%}
        {%- if _handle != blank -%}
        {%- assign _product =  all_products[_handle] -%}
        {%- endif -%}
        <td class="{%- cycle 'odd ', 'even ' -%}text-center unero_{{- r_handle -}}">
          {{- product.vendor | link_to_vendor -}}
        </td>  
        {%- endfor -%}
      </tr>
      {%- endif -%}
      {%- if settings.compare_availability -%}
      <tr class="even availability">
        <th><span>{{- "products.compare.availability" | t -}}</span></th>
        {%- for r_handle in handles limit: handles.size -%}
        {%- assign h_tmp = r_handle | split: "_sp_" -%}
        {%- assign _handle = h_tmp[0] -%}
        {%- assign _id = h_tmp[1] -%}
        {%- if _handle != blank -%}
        {%- assign _product =  all_products[_handle] -%}
        {%- assign current_variant = _product.selected_or_first_available_variant -%}
        {%- endif -%}
        <td class="{%- cycle 'odd ', 'even ' -%}text-center available-stock unero_{{- r_handle -}}{%- if _product.available -%}{{- " in-stock" -}}{%- else -%}{{- " out-of-stock" -}}{%- endif -%}">
          <p>
            {%- if _product.available -%}
            {{- 'products.product.in_stock' | t -}}
            {%- else -%}
            {{- 'products.product.out_of_stock' | t -}}
            {%- endif -%}
          </p>
        </td>  
        {%- endfor -%}
      </tr>
      {%- endif -%}
      {%- if settings.compare_rating -%}
      {%- if settings.shop_review -%}
      <tr class="odd rating">
        <th><span>{{- "products.compare.rating" | t -}}</span></th>
        {%- for r_handle in handles limit: handles.size -%}
        {%- assign h_tmp = r_handle | split: "_sp_" -%}
        {%- assign _handle = h_tmp[0] -%}
        {%- assign _id = h_tmp[1] -%}
        {%- if _handle != blank -%}
        {%- assign _product =  all_products[_handle] -%}
        {%- assign current_variant = _product.selected_or_first_available_variant -%}
        {%- endif -%}
        <td class="star-rating{%- cycle ' odd ', ' even ' -%}text-center unero_{{- r_handle -}}">
          <span class="shopify-product-reviews-badge star_content" data-id="{{ _product.id }}"></span>
        </td>  
        {%- endfor -%}
      </tr>
      {%- endif -%}
      {%- endif -%}
      {%- if settings.compare_summary -%}
      <tr class="{%- if settings.shop_review -%}{{"even "}}{%- else -%}{{"odd "}}{%- endif -%} summary">
        <th><span>{{- "products.compare.summary" | t -}}</span></th>
        {%- for r_handle in handles limit: handles.size -%}
        {%- assign h_tmp = r_handle | split: "_sp_" -%}
        {%- assign _handle = h_tmp[0] -%}
        {%- assign _id = h_tmp[1] -%}
        {%- if _handle != blank -%}
        {%- assign _product =  all_products[_handle] -%}
        {%- assign current_variant = _product.selected_or_first_available_variant -%}
        {%- endif -%}
        <td class="{%- cycle 'odd ', 'even ' -%}unero_{{- r_handle -}}">
          <span>{{- _product.description | strip_html | truncatewords: 15 -}}</span>
        </td>  
        {%- endfor -%}
      </tr>
      {%- endif -%}
      {%- if page.content !=  blank -%}
      {%- assign tmp_options = page.content | split: "," -%}
      {%- for _option in tmp_options -%}
      {%- assign _option_handle = _option | handleize  -%}
      <tr class="{%- if settings.shop_review -%}{%- cycle 'odd ', 'even ' -%}{%- else -%}{%- cycle 'even ', 'odd ' -%}{%- endif -%} option">
        <th><span>{{- _option -}}</span></th>
        {%- for r_handle in handles limit: handles.size -%}
        {%- assign h_tmp = r_handle | split: "_sp_" -%}
        {%- assign _handle = h_tmp[0] -%}
        {%- assign _id = h_tmp[1] -%}
        {%- if _handle != blank -%}
        {%- assign _product =  all_products[_handle] -%}
        {%- assign current_variant = _product.selected_or_first_available_variant -%}
        {%- endif -%}
        <td class="{%- cycle 'odd ', 'even ' -%}text-center unero_{{- r_handle -}}">
          {%- for option in _product.options_with_values  %}
          {%- assign option_handle = option.name | handleize  -%}
          {%- if option_handle == _option_handle -%}
          <span class="compare-{{_option_handle}}">
            {{- option.values | join: ", " -}}
          </span>
          {%- break -%}
          {%- endif -%}
          {%- endfor -%}
        </td>  
        {%- endfor -%}
      </tr>
      {%- endfor -%}
      {%- endif -%}
      <tr class="actions">
        <th></th>
        {%- for r_handle in handles limit: handles.size -%}
        {%- assign h_tmp = r_handle | split: "_sp_" -%}
        {%- assign _handle = h_tmp[0] -%}
        {%- assign _id = h_tmp[1] -%}
        {%- if _handle != blank -%}
        {%- assign _product =  all_products[_handle] -%}
        {%- assign current_variant = _product.selected_or_first_available_variant -%}
        {%- endif -%}
        <td class="{%- cycle 'odd ', 'even ' -%}text-center unero_{{- r_handle -}}">
          {%- if settings.catalog_mode == '' -%}
          <div class="btn-wrapper">
            {%- if _product.available -%}
            {%- if _product.variants.size > 1 -%}
            <a rel="nofollow" href="{{ _product.url | within: collection }}" class="c-add-to-cart button">
              <span class="add-to-cart-text">{{- 'products.product.select_options' | t | escape -}}</span>
            </a>
            {%- else -%}
            <form action="/cart/add" method="post" enctype="multipart/form-data">
              <input type="hidden" name="quantity" value="1" />
              <select class="hide" name="id">
                {%- for variant in _product.variants -%}
                <option value="{{ variant.id }}">{{ variant.title | escape}} - {{variant.price | money }}</option>
                {%- endfor -%}
              </select>
              <button rel="nofollow" class="single_add_to_cart add_to_cart_button button">
                <span class="add-to-cart-text">{{- 'products.product.add_to_cart' | t | escape -}}</span>
                <span class="loading-icon"><span class="bubble"><span class="dot"></span></span><span class="bubble"><span class="dot"></span></span><span class="bubble"><span class="dot"></span></span></span>
              </button>
            </form>
            {%- endif -%}
            {%- else -%}
            <a rel="nofollow" href="{{ _product.url | within: collection }}" class="c-add-to-cart button">
              <span class="add-to-cart-text">{{- 'products.product.read_more' | t | escape -}}</span>
            </a>
            {%- endif -%}
          </div>  
          {%- endif -%}
          <a href="javascript:void(0);" class="close remove-compare remove_from_compare remove" data-rev="{{- r_handle -}}"><span aria-hidden="true" class="remove-compare-x" title="Delete"></span></a>
        </td>  
        {%- endfor -%}
      </tr>
    </tbody>
  </table>
</div>